---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import EmpyState from "../components/EmpyState.astro";
import { Modal } from "accessible-astro-components";
import '../styles/taildwind.css'

import MyComponent from '../components/MyComponent.vue';


---

<DefaultLayout title="Products">
  <section>
    <h1>Products</h1><br />
    <p >Dashboard para el control de productos</p>
  </section>
  <section class="margin-32">
    <div class="space-content">
      <h2>Product overview</h2>

      <MyComponent client:only="vue"/>
      
    </div>
  </section>
</DefaultLayout>
